@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants</h1>
<!--Binding to the model-->
<h2>@Model.Message</h2>
<!--Bindong from a config file trough a class constructor in the model-->
<h2>@Model.MessageFromConfig</h2>